@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background: linear-gradient(120deg, #c900cc, #02a8aa);
  color: white;
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
}

header {
  text-transform: capitalize;
  font-size: 1.5rem;
}

header,
form {
  height: 20vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

form input,
form button {
  padding: 10px;
  height: 50px;
  font-size: 2rem;
  border: none;
  background: rgb(255, 255, 255);
}

form button {
  color: #06b5b8;
  background: white;
  cursor: pointer;
  transition: all 0.3s ease;
}

form button:hover {
  background: #06b5b8;
  color: #fff;
}

.todo-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.todo-list {
  width: 30%;
  list-style: none;
}
.todo {
  margin: 0.5rem;
  background: white;
  color: black;
  font-size: 1.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: all 0.3s ease-in;
}
.todo li {
  flex: 1;
}

.complete-btn {
  background: #ef04f3;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
}
.trash-btn {
  background: #06b5b8;
  color: white;
  border: none;
  padding: 1rem;
  cursor: pointer;
}

.todo-item {
  padding: 0rem 0.5rem;
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.fall {
  transform: translateY(8rem) rotateZ(20deg);
  opacity: 0;
}

select {
  -webkit-appearance: none;
  appearance: none;
  outline: none;
  border: none;
}

.select {
  margin: 1rem;
  position: relative;
  overflow: hidden;
}
select {
  color: #ef04f3;
  width: 10rem;
  cursor: pointer;
  font-size: 20px;
  text-transform: capitalize;
  padding: 1rem;
}

.select::after {
  content: "\25BC";
  position: absolute;
  background: #ef04f3;
  top: 0;
  right: 0;
  padding: 1rem;
  pointer-events: none;
  transition: all 0.3s ease;
}

.select:hover::after {
  background: #fff;
  color: #ef04f3;
}
